@model IEnumerable<ST.Entity.Master>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.officeid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tradename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.officeid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tradename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rin }) |
            @Html.ActionLink("Details", "Details", new { id=item.rin }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rin })
        </td>
    </tr>
}

</table>
