@model returns_web.Models.Retpurch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Retpurch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.officeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchtax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchtax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetoffid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetoffid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moddate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
