@model IEnumerable<returns_web.Models.Retpurch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.officeid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchtax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.targetoffid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moddate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.officeid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchtax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.targetoffid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moddate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
