@model ST.Entity.Retpurch

@{
    Layout = null;
    
}
    <tr class="retPurchRow">
        <td>
            @Html.Hidden("retpurch.Id", Model.Id, new { @class = "form-control",data_str = "retpurch[**].Id" })
            @Html.Hidden("retpurch.returnsid", Model.returnsid, new { @class = "form-control", data_str = "retpurch[**].returnsid" })

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.taxrate, new {  @class = "form-control", data_str = "retpurch[**].taxrate" })
                    @Html.ValidationMessageFor(model => model.taxrate, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.purchval, new { @class = "form-control", data_str = "retpurch[**].purchval" })
                    @Html.ValidationMessageFor(model => model.purchval, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.purchtax, new { @class = "form-control", data_str = "retpurch[**].purchtax" })
                    @Html.ValidationMessageFor(model => model.purchtax, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <input type="button" class="retpurch-del" value="إلغاء" />
        </td>
    </tr>
