@model ST.Entity.Retsale
@{
    Layout = null;
    
}

    <tr class="retSaleRow">
        <td>
            @Html.Hidden("retsale.Id", Model.Id,new {data_str="retsale[**].Id", @class = "form-control"})
            @Html.Hidden("retsale.returnsid", Model.returnsid, new { data_str = "retsale[**].returnsid", @class = "form-control" })
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.taxrateid, new { data_str = "retsale[**].taxrateid", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.taxrateid, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.saleval, new { @class = "form-control", data_str = "retsale[**].saleval" })
                    @Html.ValidationMessageFor(model => model.saleval, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.saletax, new { @class = "form-control", data_str = "retsale[**].saletax" })
                    @Html.ValidationMessageFor(model => model.saletax, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        
        <td>
            <input type="button" class="retsale-del" value="إلغاء"/>
        </td>
    </tr>

<script>
    $(document).ready(function () {
        $("#saletax").click(function () {
            if ($("#taxrateid").val() == 14) {

                $("#saletax").val(parseInt($("#saleval").val(), 10) * 0.1);
                $("#saletax").css({ "color": "green" });
            }
        });
        //jQuery("#saletax").blur(function () {
        //    if (parseInt($("#saleval").val(), 10) != parseInt($("#saleval").val(), 10) * 0.1)
        //    {
        //        $("#saletax").css({ "color": "red" });

        //    }
        //});
    });
</script>