@model ST.Entity.Returns

<ol class="breadcrumb">
    <li>@Html.ActionLink(ST.Resource.GlobalResource.NavHome, "Index", "Returns")</li>
    <li class="active">@ST.Resource.ReturnsResource.viewDeleteMsg</li>
</ol>
<h3>@ST.Resource.ReturnsResource.viewDeleteMsg</h3>
<br />

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rin)
        </dd>

     
        <dt>
            @Html.DisplayNameFor(model => model.taxyrmo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taxyrmo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saleltc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saleltc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purctdt2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purctdt2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nettaxpy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nettaxpy)
        </dd>

      

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ST.Resource.ReturnsResource.ViewDeleteButton" class="btn btn-default" /> |
            @Html.ActionLink("العودة للقائمة", "Index")
        </div>
    }
</div>
