@model ST.Entity.Returns

@if (Model.status != ST.Entity.ReturnStatus.Pending)
{
    
        <h4>
            رقم الوثيقة: @Html.DisplayFor(model => model.docLocNumber)


        </h4>
        <a onclick="PrintDocLocNum('@Model.docLocNumber');">طباعة</a>
    
}
<table>
    <tr>
        <td>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.rin)
            </div>
            @Html.LabelFor(model => model.rin, htmlAttributes: new { @class = "control-label col-md-2" })

        </td>

        <td>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.taxyrmo)
            </div>
            @Html.LabelFor(model => model.taxyrmo, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
    </tr>
    <tr>
        <td>

            <div class="col-md-10">
                @Html.DisplayFor(model => model.transdate)
            </div>
            @Html.LabelFor(model => model.transdate, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
    </tr>
</table>
@if (Model.retsale.Any())
{
    <p>المبيعات</p>
    <table id="retPurchTbl" class="table table-striped table-bordered table-hover" style="direction: rtl">
        <tr>
            <th>النوع</th>
            <th>
                قيمة المبيعات
            </th>
            <th>
                الضريبة
            </th>
        </tr>

        @foreach (var item in Model.retsale)
            {
            <tr>
                <td>@Html.DisplayFor(i => item.taxrateid)</td>
                <td>@Html.DisplayFor(i => item.saleval)</td>
                <td>@Html.DisplayFor(i => item.saletax)</td>
            </tr>
            }


    </table>
}
@if (Model.retpurch.Any())
{
    <p>المشتريات</p>
    <table id="retPurchTbl" class="table table-striped table-bordered table-hover" style="direction: rtl">
        <tr>
            <th>النوع</th>
            <th>
                قيمة المشتريات
            </th>
            <th>
                الضريبة
            </th>
        </tr>

        @foreach (var item in Model.retpurch)
            {
            <tr>
                <td>@Html.DisplayFor(i => item.taxrate)</td>
                <td>@Html.DisplayFor(i => item.purchval)</td>
                <td>@Html.DisplayFor(i => item.purchtax)</td>
            </tr>
            }


    </table>
}
<table>
    <tr>
        <td>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.saleltc)
            </div>
            @Html.LabelFor(model => model.saleltc   , htmlAttributes: new { @class = "control-label col-md-2" })

        </td>

        <td>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.purctdt2)
            </div>
            @Html.LabelFor(model => model.purctdt2, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
    </tr>
    <tr>
        <td>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.nettaxpy)
            </div>
            @Html.LabelFor(model => model.nettaxpy, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>

        <td>

            <div class="col-md-10">
                @Html.DisplayFor(model => model.docLocNumber)
            </div>
            @Html.LabelFor(model => model.docLocNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
    </tr>
</table>


<p>
    @if (Model.status == ST.Entity.ReturnStatus.Pending)
        {
        @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) <span>|</span>
        @Html.ActionLink("ارسال", "Send", new { id = Model.Id })<span>|</span>
        }

    @Html.ActionLink("العودة للقائمة", "Index")
</p>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var isPrint = '@ViewBag.IsPrint';
            console.log(isPrint);
            if (isPrint.toLowerCase() == 'true')
                PrintDocLocNum('@Model.docLocNumber');
        });
    </script>
}