@model IEnumerable<ST.Entity.RetExPurch>

@{
    var i = 0;
}


<table id="retExPurchTbl" class="table table-striped table-bordered table-hover table-responsive" >
    <tr>
        <th>@Html.DisplayNameFor(model => model.recietcode)</th>
        <th>
            @Html.DisplayNameFor(model => model.certno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalvalue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taxrateid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        ViewBag.Rowcount = i;
        @Html.Partial("_RetExPurchSingle", item)
        i++;
    }
</table>

<table>
    <tr>
        <td>
            <a id="retExPurchAdd" data-request-url="@Url.Action("AddRetExPurch", "returns")" class="btn btn-default">@ST.Resource.ReturnsResource.viewRetExPurchListAddExPurch</a>
        </td>
    </tr>
</table>
