@model IEnumerable<ST.Entity.Retpurch>

@{
    var i = 0;
}


<table id="retPurchTbl" class="table table-striped table-bordered table-hover table-responsive" >
    <tr>
        <th>@Html.DisplayNameFor(model => model.taxrate)</th>
        <th>
            @Html.DisplayNameFor(model => model.purchval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchtax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        ViewBag.Rowcount = i;
        @Html.Partial("_RetPurchSingle", item)
        i++;
    }
</table>

<table>
    <tr>
        <td>
            <a id="retPurchAdd" data-request-url="@Url.Action("AddPurchSale", "returns")" class="btn btn-default">@ST.Resource.ReturnsResource.viewRetPurchListAddPurch</a>
        </td>
    </tr>
</table>
