@model returns_web.Models.Returns

@{
    ViewBag.Title = "Create";
   //returns_web.Models.Retsale retsale = new returns_web.Models.Retsale();
   //returns_web.Models.Retpurch retpurch = new returns_web.Models.Retpurch();
    

    }


<div style ="direction:rtl">
    <h2>إقرار مبيعات</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.Id)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal" style="direction:rtl">
            <table style="direction:rtl">
                <tr>
                    <td>
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.rin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.rin, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.rin, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>
                   
                    <td>
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.taxyrmo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.taxyrmo, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.taxyrmo, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.transdate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.transdate, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.transdate, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>
                </tr>
            </table>

            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#retsale" aria-controls="home" role="tab" data-toggle="tab" style="font-weight: 700;font-size:large">المبيعات</a></li>
                    <li role="presentation"><a href="#retpurch" aria-controls="profile" role="tab" data-toggle="tab" style="font-weight: 700;font-size:large">المشتريات</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" >
                    <div role="tabpanel" class="tab-pane active" id="retsale" >@Html.Partial("RetSaleList", Model.retsale)</div>
                    <div role="tabpanel" class="tab-pane" id="retpurch" >@Html.Partial("RetPurchList", Model.retpurch)</div>

                </div>

            </div>


       <br /><br />

            <table style="direction:rtl">
                <tr>
                    <td>
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.saleltc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.saleltc, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.saleltc, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.purctdt2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.purctdt2, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.purctdt2, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nettaxpy, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nettaxpy, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.nettaxpy, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>
                    <td>

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.doclocnum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.doclocnum, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.doclocnum, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="حفظ" class="btn btn-default" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>




