@model returns_web.Models.Retsale
@{
    Layout = null;
    int id = int.Parse(ViewBag.RowCount.ToString());
    
}
    <tr class="retSaleRow">
        <td>
            @Html.Hidden("retsale["+ @id + "].Id", Model.Id)
            @Html.Hidden("retsale[" + @id + "].returnsid", Model.returnsid)
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.taxrateid, new { id = "retsale[" + @id + "].taxrateid", Name = "retsale[" + @id + "].taxrateid", htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.taxrateid, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBox("retsale[" + @id + "].saleval", Model.saleval.ToString(), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.saleval, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBox("retsale[" + @id + "].saletax", Model.saletax.ToString(), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.saletax, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
    </tr>

