@model IEnumerable<returns_web.Models.Returns>

@{
    ViewBag.Title = "Index";
}
<style>
    th{
       text-align:center;
       font-weight:700;

    }
    </style>
<div style="direction:rtl">
    <h2>قائمة إقرارات المبيعات</h2>

    <p>
        @Html.ActionLink("إضافة إقرار مبيعات", "Create")
    </p>
</div>
    <table class="table table-striped table-bordered table-hover" style="direction:rtl">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.rin)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.taxyrmo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saleltc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purctdt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nettaxpy)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.doclocnum)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.rin)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.taxyrmo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.transdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saleltc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.purctdt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nettaxpy)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.doclocnum)
                </td>

                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) |
                    @Html.ActionLink("إلغاء", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
