@model returns_web.Models.Retsale
@{
    Layout = null;          
}
<tr>
    <td>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.taxrateid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.taxrateid, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.saleval, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.saleval, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.saletax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.saletax, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
</tr>
